<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Blog Lam Vinh</a>
    <div class="dropdown">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        <img src="https://scontent.fhan7-1.fna.fbcdn.net/v/t1.6435-9/120154898_2407967506163788_2505094131175296817_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=174925&_nc_ohc=uhZbbqScMEsAX8rdLG2&_nc_ht=scontent.fhan7-1.fna&oh=32bb75a97771e9215b5dec423281da1b&oe=615628B7" alt="" class="user-avt">
        Lâm Vinh
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="nav-link dropdown-item" href="/courses/create" >Đăng khóa học</a></li>
        <div class="dropdown-divider"></div>
        <li><a class="nav-link dropdown-item" href="/me/stored/courses" >Khóa học của tôi</a></li>
        <li><a class="nav-link dropdown-item" href="/me/stored/courses" >Bài viết của tôi</a></li>
        <div class="dropdown-divider"></div>
        <li><a class="dropdown-item" href="#">Đăng Xuất</a></li>
      </ul>
    </div>
  </div>
</nav>